<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application android:name=".TraderApplication" android:label="AItrader" android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <activity android:name=".DataBackupActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".BoardChartActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".StockChartActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ScreenService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service android:name=".PersonalSignalService" android:exported="false" android:foregroundServiceType="dataSync" />
    </application>
</manifest>
